.main-header {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 20px;

  display: flex;

  .mh-breadcrumbs {
    flex: 1;
  }
  .mh-datepickers {
    display: flex;
    align-items: center;
    color: #525252;
  }
}