.date-picker {
  margin: 0 5px;
  height: 38px;
  width: 101px !important;
  .MuiInputBase-root {
    &:before, &:after {
      display: none;
    }
  }

  .picker-input {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    cursor: pointer;

    input {
      text-align: center;
      padding: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.5px;
      cursor: pointer;
      color: #525252;
    }

    .MuiInputAdornment-root {
      display: none;
    }
  }
}